<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolsell.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.schoolsell.entity.User">
    <id column="userID" jdbcType="VARCHAR" property="userID" />
    <result column="filePath" jdbcType="VARCHAR" property="filePath" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where userID = #{userID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.schoolsell.entity.User">
    insert into user (userID , filePath,
      gender, userName)
    values (#{userID,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.schoolsell.entity.User">
    update user
    set userID = #{userID,jdbcType=VARCHAR},
      filePath = #{filePath,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR}
    where userID = #{userID,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select userID, filePath, gender, userName
    from user
    where userID = #{userID,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select userID , filePath , gender, userName
    from user
  </select>
  <update id="updateuserName" parameterType="com.schoolsell.entity.User">
    update user
    set
    userName = #{userName,jdbcType=VARCHAR}
    where userID = #{userID,jdbcType=VARCHAR}
  </update>

  <!--<update id="updatephone" parameterType="com.schoolsell.entity.User">-->
    <!--update user-->
    <!--set-->
    <!--phoneNumber = #{phonenumber,jdbcType=VARCHAR}-->
    <!--where userID = #{userid,jdbcType=VARCHAR}-->
  <!--</update>-->

  <!--<update id="updateaddress" parameterType="com.schoolsell.entity.User">-->
    <!--update user-->
    <!--set-->
    <!--address = #{address,jdbcType=VARCHAR}-->
    <!--where userID = #{userid,jdbcType=VARCHAR}-->
  <!--</update>-->
</mapper>